@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.input-section {
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 10rem;
}

.temp {
  font-size: 30px;
}

.input-text {
  font-size: 20px;
  border: 1px solid #fff;
}

.input-text:focus {
  outline: 0;
}

.result-section {
  text-align: center;
  align-items: center;
  margin-top: 6rem;
}

.name {
  color: #888;
}

.desc {
  font-size: 20px;
  color: #888;
}

.submit {
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  width: 100px;
  border: 1px solid #000;
  border-radius: 5px;
  color: #fff;
  background-color: #000;
}

.submit:hover {
  font-weight: bold;
  color: #000;
  background-color: #fff;
  transition: 0.3s ease;
}
